# Servidor
PORT=3000

# CORS — lista separada por comas de origins permitidos
CORS_ORIGINS=http://localhost:4200

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=utp_api_db
DB_USER=root
DB_PASSWORD=tu_password

# JWT
JWT_ACCESS_SECRET=tu_access_secret_muy_seguro
JWT_REFRESH_SECRET=tu_refresh_secret_muy_seguro
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SUPERUSER_EMAIL=super@admin.com
SUPERUSER_PASSWORD=Super@1234
